<section>


    <main class="contact-content">


        <div class="headline">
            <span></span>
            <h1>Contact</h1>
        </div>

        <div class="contact-container">

            <div class="contact-text-container">
                <h2>Got a problem to solve?</h2>

                <div>
                    <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and
                        contributing to your projects with my work.</p>
                    <p>Need a Frontend developer? <strong>Contact me!</strong></p>
                </div>
            </div>


            <form class="contact-form">
                <div>
                    <input type="text" placeholder="Your Name">
                </div>
                <div>
                    <input type="email" placeholder="Your Email">
                </div>
                <div>
                    <textarea name="" id="" placeholder="Your message"></textarea>
                </div>

                <label class="privacy-accept">
                    <input type="checkbox" formControlName="privacy" class="custom-checkbox">
                    <span>I've read the <a href="#" target="_blank" rel="noopener noreferrer">Privacy policy</a> and agree to the processing of my data as outlined.</span>
                </label>

                <div class="send-button">
                    <button type="submit">
                        Send Message &#58;&#41;
                    </button>
                </div>

            </form>


        </div>

    </main>




</section>