@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

header {
  padding: 37px 100px 37px 100px;
  height: 110px;
  @include dFlex();
  background-color: $bg-color;
  backdrop-filter: blur(65px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.header-content {
    max-width: $max-width;  
    width: 100%;
    display: flex;
    align-items: center;
}

.menu {
 @include dFlex($align: center, $gap: 29px);
  margin-left: auto;
}

.link {
  font-size: 23px;
  line-height: 27.6px;
  position: relative;
  transition: $transiton-base; 

  &.clicked {
    color: $primary-color;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: $secondary-color;
    transform: scaleX(0);
    transition: transform 1s ease;
  }

  &.clicked::after {
    transform: scaleX(1);
  }

  &:hover {
    color: $primary-color;
  }
}


.burger-icon {
  --burger-width: 34px;
  --burger-height: 24px;
  --line-thickness: 2px;
  --translate-value: calc((var(--burger-height) - var(--line-thickness)) / 2);

  display: none;
  background: none;
  border: none;
  cursor: pointer;
  width: var(--burger-width);
  height: var(--burger-height);
  padding: 0;
  margin-left: auto;
}

.line {
  position: absolute;
  height: var(--line-thickness);
  width: 100%;
  background-color: white;
  transition: all 0.3s ease;
  left: 0;
  border-radius: 2px;
}

.line-1 {
  top: 0;
}

.line-2 {
  top: 50%;
  transform: translateY(-50%);
}

.line-3 {
  bottom: 0;
}

.burger-icon.open {
  .line-1 {
    transform: translateY(var(--translate-value)) rotate(45deg);
  }
  
  .line-2 {
    opacity: 0;
  }
  
  .line-3 {
    transform: translateY(calc(var(--translate-value) * -1)) rotate(-45deg);
  }
}

@media (max-width: 950px) {
 .burger-icon {
  display: block;
  position: relative;
 }

 .menu {
  display: none;
 }
}

@media (max-width: 900px) {
  header {
    padding: 37px 50px 37px 50px;
  } 
}
