<header>
    <div class="header-content">
    <app-logo></app-logo>
    <div class="menu">
        <a class="link" [routerLink]="['']" (click)="scrollToSection('about-me', $event)">{{ 'header.about' | translate }}</a>
        <a class="link" [routerLink]="['']" (click)="scrollToSection('skills', $event)">{{ 'header.skills' | translate }}</a>
        <a class="link" [routerLink]="['']" (click)="scrollToSection('portfolio', $event)">{{ 'header.portfolio' | translate }}</a>

        <app-language-switch></app-language-switch>
    </div>
    </div>
</header>
