<section id="about-me">

    <main class="about-me-content">

        <div class="about-me-description">
            <h1>About me</h1>

            <div class="text-container">
                <p>
                    Hi, I'm Boris, a Frontend Developer based near Imst, Austria. I'm inspired by the endless
                    possibilities of technology - creating beautiful,
                    intuitive digital experiences that transform ideas into reality.
                </p>

                <div class="text-details">
                    <div>
                        <img src="/assets/img/icons/location.svg" alt="">
                        <p>
                            Whether working from home or on-site - I'm open to both work models
                            and appreciate hybrid solutions. For me, flexibility is the key to
                            effective collaboration.
                        </p>
                    </div>
                    <div>
                        <img src="/assets/img/icons/bulb.svg" alt="">
                        <p>
                            Being naturally curious and open-minded, I embrace challenges that push my boundaries
                            both in my career and personal life. This constant drive to learn and grow fuels my
                            passion for self-improvement in all aspects of life.
                        </p>
                    </div>
                    <div>
                        <img src="/assets/img/icons/puzzle.svg" alt="">
                        <p>
                            Programming holds a special place in my heart because it lets me unfold my creativity while
                            embracing my analytical mindset. The ability to build something from scratch, solve complex
                            problems, and constantly learn new technologies fills me with excitement.
                        </p>
                    </div>
                </div>

            </div>

        </div>


        <div class="profile-img-container">

            <div>
                <img src="/assets/img/profilepic.png" alt="">
            </div>

            <span></span>

        </div>

        <div class="shadow-element">
            <img src="/assets/img/shadowaboutme.svg" alt="">
        </div>


    </main>


</section>