<section id="about-me">

    <main class="about-me-content">

        <div data-aos="fade-right" data-aos-offset="200" class="about-me-description">
            <h1>{{ 'about.title' | translate }}</h1>

            <div class="text-container">
                <p>{{ 'about.description' | translate }}</p>

                <div class="text-details">
                    <div>
                        <img src="/assets/img/icons/location.svg" alt="">
                        <p>{{ 'about.location' | translate }}</p>
                    </div>
                    <div>
                        <img src="/assets/img/icons/bulb.svg" alt="">
                        <p>{{ 'about.mindset' | translate }}</p>
                    </div>
                    <div>
                        <img src="/assets/img/icons/puzzle.svg" alt="">
                        <p>{{ 'about.programming' | translate }}</p>
                    </div>
                </div>

            </div>

        </div>


        <div data-aos="fade-left" data-aos-offset="200" class="profile-img-container">

            <div data-aos="flip-up" data-aos-offset="200">
                <img src="/assets/img/profilepic.png" alt="">
            </div>

            <span></span>

        </div>

        <div class="shadow-element">
            <img src="/assets/img/shadowaboutme.svg" alt="">
        </div>


    </main>


</section>