<section>



    <main class="landing-content">

        <div class="imagebox">
            <img class="landing-img" src="/assets/img/boris1.png" alt="">
            <img class="shadow" src="/assets/img/shadowlanding.svg" alt="">
        </div>


        <div class="info-container">
            <div class="headline-container">
                <span class="rotate-text">I am</span>
                <div>
                    <h1>Boris Scheiber</h1>
                    <span class="dev-text">FRONTEND DEVELOPER</span>
                </div>
            </div>

            <a class="talk-button" href="#">Let's talk!</a>

        </div>


        <div class="nav-socials-container">
            <div class="links">
                <span></span>
                <a href="http://github.com/BorisScheiber" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/img/icons/github.svg" alt="GitHub Profil">
                </a>
                <a href="mailto:scheiberboris&#64;hotmail.com">
                    <img src="/assets/img/icons/email.svg" alt="">
                </a>
                <a href="https://www.linkedin.com/in/boris-scheiber-65021b339" target="_blank"
                    rel="noopener noreferrer">
                    <img src="/assets/img/icons/linkedin.svg" alt="">
                </a>
                <a href="mailto:scheiberboris&#64;hotmail.com">scheiberboris&#64;hotmail.com</a>
            </div>

            <div class="scroll-down">
                <span>Scroll down</span>
                <img src="/assets/img/icons/arrowdown.svg" alt="">
            </div>

        </div>


    </main>


    <div class="bg-shape">
        <img src="/assets/img/backgroundlanding.png" alt="">
    </div>


</section>