<section>



    <main class="landing-content">

        <div class="imagebox">
            <img class="landing-img" src="/assets/img/boris1.png" alt="">
            <img class="shadow" src="/assets/img/shadowlanding.svg" alt="">
        </div>


        <div class="info-container">
            <div class="headline-container">
                <span class="rotate-text">{{ 'landing.iam' | translate }}</span>
                <div>
                    <h1>Boris Scheiber</h1>
                    <span class="dev-text">{{ 'landing.developer' | translate }}</span>
                </div>
            </div>

            <a class="talk-button" href="#contact">{{ 'landing.letsTalk' | translate }}</a>

        </div>


        <div class="nav-socials-container">
            <div class="links">
                <span></span>
                <app-social-links></app-social-links>
                <a href="mailto:office&#64;boris-scheiber.at">office&#64;boris-scheiber.at</a>
                <div></div>
            </div>

            <div class="scroll-down">
                <span>{{ 'landing.scrollDown' | translate }}</span>
                <img src="/assets/img/icons/arrowdown.svg" alt="">
            </div>

        </div>


    </main>


    <div class="bg-shape">
        <img src="/assets/img/backgroundlanding.png" alt="">
    </div>


</section>