@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

section {
  height: calc(100vh - 110px);
  margin-top: 110px;
  display: flex;
  justify-content: center;
  position: relative;
  max-height: 1200px;
}

.landing-content {
  @include content-container($position: relative);
  // margin-top: 120px;

  margin-top: 100px;
}

.imagebox {
  position: relative;
  // height: max-content;
  //   margin-left: 47px;
  z-index: -7;
  height: 700px;
}

.landing-img {
  height: 100%;
}

.shadow {
  position: absolute;
  left: 0;
  z-index: -1;
  left: -130px;
  top: -70px;
  animation: pulse 3s ease-in-out infinite;
  filter: blur(46.5px);
}

.bg-shape {
  z-index: -5;
  position: absolute;
  // bottom: 0;
  width: 100%;

  height: 52%;
  bottom: -50px;

  img {
    width: 100%;
    max-height: 450px;
  }
}

.info-container {
  @include dFlex($gap: 40px);
  flex-direction: column;
  max-height: 700px;
}

.headline-container {
  @include dFlex();
  white-space: nowrap;
}

.rotate-text {
  @include dFlex();
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  font-size: 64px;
  line-height: 76.8px;

  &:lang(de) {
    font-size: 44px;
  }
}

.dev-text {
  font-size: 58px;
  line-height: 69.6px;
  color: $secondary-color;
}

.talk-button {
  @include primary-button;
}

.nav-socials-container {
  position: absolute;
  bottom: 10%;
  width: 100%;
  @include dFlex($justify: null, $align: flex-end);
}

.links {
  @include dFlex($gap: 32px);

  div {
    display: none;
  }

  span {
    @include vertical-line($width: 100px, $bgcolor: $secondary-color);
  }

  a:last-of-type {
    font-size: 23px;
    line-height: 27.6px;
    transition: $transiton-base;

    &:hover {
      color: $secondary-color;
    }
  }
}

.scroll-down {
  margin-left: auto;
  margin-right: 47px;
  @include dFlex($gap: 10px);
  flex-direction: column;
  animation: scrollDownAnimation 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    infinite;

  span {
    cursor: default;
    writing-mode: vertical-rl;
    font-size: 23px;
  }
}

@keyframes scrollDownAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1600px) {
  .landing-content {
    padding: 0 100px 0 100px;
  }

  h1 {
    font-size: 80px;
    line-height: 89px;
  }

  .dev-text {
    font-size: 50px;
  }

  .rotate-text {
    font-size: 58px;

    &:lang(de) {
      font-size: 40px;
    }
  }

  .nav-socials-container {
    left: 0;
  }

  .scroll-down {
    margin-right: 100px;
  }
}

@media (max-height: 1100px) {
  .landing-content {
    margin-top: 50px;
  }
}

@media (max-width: 1450px) {
  .landing-content {
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    margin-top: 24px;
  }

  .imagebox {
    height: 650px;
  }

  .bg-shape {
    height: 62%;
  }

  .links {
    a {
      display: none;
    }
  }

  .nav-socials-container {
    bottom: 5%;
  }

  .shadow {
    left: -160px;
  }

  .info-container {
    max-height: unset;
    height: 100%;
    margin-top: -140px;
  }
}

@media (max-width: 1450px) and (max-height: 1200px) {
  .imagebox {
    height: 600px;
  }
  .bg-shape {
    height: 64%;
  }
}

@media (max-width: 950px) {
  .scroll-down {
    display: none;
  }
}

@media (max-width: 900px) {
  .landing-content {
    padding: 0 50px 0 50px;
  }
  .links {
    gap: 24px;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 64px;
    line-height: 76.8px;
  }
  .dev-text {
    font-size: 42px;
    line-height: 59px;
  }

  .rotate-text {
    font-size: 48px;

    &:lang(de) {
      font-size: 33px;
      line-height: 54px;
    }
  }
  .bg-shape {
    height: 63%;
  }
  section {
    min-height: 990px;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 56px;
    line-height: 60.8px;
  }
  .dev-text {
    font-size: 38px;
    line-height: 49px;
  }

  .rotate-text {
    font-size: 42px;
    line-height: 60.8px;

    &:lang(de) {
      font-size: 29px;
      line-height: 51px;
    }
  }
  .bg-shape {
    height: 64%;
  }
  .info-container {
    margin-top: -180px;
  }
  section {
    min-height: 890px;
  }
}

@media (max-width: 580px) {
  h1 {
    font-size: 50px;
    line-height: 51.8px;
  }
  .dev-text {
    font-size: 34px;
    line-height: 45px;
  }

  .rotate-text {
    font-size: 36px;
    line-height: 51.8px;

    &:lang(de) {
      font-size: 24px;
      line-height: 42px;
    }
  }
  .imagebox {
    height: 550px;
  }
  .bg-shape {
    height: 71%;
  }
  section {
    min-height: 820px;
  }
}

@media (max-width: 580px) and (max-height: 1100px) {
  .bg-shape {
    height: 67%;
  }
}

@media (max-width: 550px) {
  .landing-content {
    padding: 0 25px 0 25px;
  }

  .links {
    width: 100%;
    gap: 16px;
    span {
      width: 100%;
    }
    div {
      display: block;
      width: 100%;
      height: 4px;
      background-color: transparent;
    }
  }
  .shadow {
    left: -70px;
    max-height: 600px;
    top: 0;
  }
  section {
    min-height: 810px;
  }
}

@media (max-width: 550px) and (max-height: 1100px) {
  .bg-shape {
    height: 65%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 44px;
    line-height: 48.8px;

    &:lang(de) {
      line-height: 52.8px;
    }
  }
  .dev-text {
    font-size: 30px;
    line-height: 41px;

    &:lang(de) {
      font-size: 29px;
    }
  }

  .rotate-text {
    font-size: 33px;
    line-height: 44.8px;

    &:lang(de) {
      font-size: 23px;
      line-height: 42px;
    }
  }
  .imagebox {
    height: 500px;
  }

  .shadow {
    left: -70px;
    max-height: 550px;
    top: 0;
  }

  .bg-shape {
    height: 73%;
  }

  section {
    min-height: 690px;
  }
}

@media (max-width: 480px) and (max-height: 1100px) {
  .bg-shape {
    height: 68%;
  }
}

@media (max-width: 480px) and (max-height: 950px) {
  .landing-content {
    margin-top: 16px;
  }
}

@media (max-width: 480px) and (max-height: 900px) {
  .info-container {
    gap: 30px;
  }
  .bg-shape {
    height: 65%;
    img {
      max-height: unset;
      height: 70%;
    }
  }
}

@media (max-width: 480px) and (max-height: 850px) {
.imagebox {
  height: 450px;
}
.info-container {
  margin-top: -135px;
}
.nav-socials-container {
  bottom: 3%;
}
}

@media (max-width: 420px) {
  h1 {
    font-size: 38px;
    line-height: 45.8px;

    &:lang(de) {
      line-height: 46.8px;
    }
  }
  .dev-text {
    font-size: 25px;
    line-height: 36px;

    &:lang(de) {
      font-size: 25px;
      line-height: 37px;
    }
  }

  .rotate-text {
    font-size: 29px;
    line-height: 38.8px;

    &:lang(de) {
      font-size: 20px;
      line-height: 33px;
    }
  }
  .imagebox {
    height: 450px;
  }
  .bg-shape {
    height: 75%;
  }
  .info-container {
    margin-top: -180px;
  }
  section {
    min-height: 670px;
  }
  .nav-socials-container {
    bottom: 5%;
  }
}

@media (max-width: 420px) and (max-height: 1000px) {
  .bg-shape {
    height: 72%;
  }
}

@media (max-width: 420px) and (max-height: 810px) {
  .landing-content {
    margin-top: 0;
  }
  .bg-shape {
    height: 67%;
  }
  .info-container {
    margin-top: -150px;
  }
  .nav-socials-container {
    bottom: 3%;
  }
}

@media (max-width: 380px) {
  section {
    min-height: 590px;
  }
}

@media (max-width: 380px) and (max-height: 1100px) {
  .bg-shape {
    height: 70%;
  }
}

@media (max-width: 380px) and (max-height: 950px) {
  .bg-shape {
    height: 69%;
  }
}

@media (max-width: 380px) and (max-height: 900px) {
  .bg-shape {
    height: 73%;
  }
}

@media (max-width: 380px) and (max-height: 790px) {
  .imagebox {
    height: 400px;
  }
  .shadow {
    max-height: 450px;
    left: -50px;
  }
  .bg-shape {
    height: 76%;
  }
}

@media (max-width: 380px) and (max-height: 730px) {
  .info-container {
    gap: 16px;
  }
}

@media (max-width: 380px) and (max-height: 700px) {
  .bg-shape {
    img {
      height: 80%;
    }
  }
  // .nav-socials-container {
  //   bottom: 3%;
  // }
}

// @media (max-width: 380px) and (max-height: 680px) {
//   .bg-shape {
//     height: 78%;
//   }
// }

@media (max-width: 370px) {
  h1 {
    font-size: 32px;
    line-height: 38.8px;

    &:lang(de) {
      line-height: 37.8px;
    }
  }
  .dev-text {
    font-size: 22px;
    line-height: 27px;

    &:lang(de) {
      font-size: 21px;
      line-height: 29px;
    }
  }

  .rotate-text {
    font-size: 24px;
    line-height: 30.8px;

    &:lang(de) {
      font-size: 16px;
      line-height: 28px;
    }
  }
  .imagebox {
    height: 400px;
  }
  .bg-shape {
    height: 78%;
  }

  // .shadow {
  //   left: -80px;
  //   max-height: 500px;
  //   top: 0;
  // }

  .shadow {
    left: -50px;
    max-height: 450px;
    top: 0;
  }

  .links {
    gap: 8px;
  }
  section {
    min-height: 590px;
  }
}

@media (max-width: 370px) and (max-height: 1050px) {
  .bg-shape {
    height: 72%;
  }
}

@media (max-width: 370px) and (max-height: 900px) {
  .bg-shape {
    height: 82%;
    img {
      height: 84%;
    }
  }
}

@media (max-width: 370px) and (max-height: 800px) {
  .bg-shape {
    height: 77%;
  }
  .shadow {
    left: -50px;
    max-height: 450px;
  }
}

@media (max-width: 370px) and (max-height: 700px) {
  .bg-shape {
    height: 75%;
  }
}

@media (max-width: 330px) {
  section {
    min-height: 560px;
  }
}

@media (max-width: 330px) and (max-height: 1150px) {
  .bg-shape {
    height: 74%;
  }
}

@media (max-width: 330px) and (max-height: 950px) {
  .bg-shape {
    height: 73%;
  }
}

@media (max-width: 330px) and (max-height: 900px) {
  .bg-shape {
    height: 82%;
  }
}

@media (max-width: 330px) and (max-height: 800px) {
  .bg-shape {
    height: 78%;
  }
}

@media (max-width: 330px) and (max-height: 720px) {
  .bg-shape {
    height: 75%;
  }
}

@media (max-width: 330px) and (max-height: 670px) {
  .imagebox {
    height: 350px;
  }
  .info-container {
    margin-top: -100px;
  }
}
