@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

h3 {
  font-weight: $font-bold;
}

h4 {
  margin: 16px 0 8px 0;
  font-weight: $font-semibold;
}

.title-margin {
  margin-top: 32px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

section {
  margin-top: 110px;
  @include section-container();
  overflow: hidden;
  padding-left: 100px;
  padding-right: 100px;
}

.privacy-content {
  @include content-container($justify: unset, $position: relative);
  flex-direction: column;
}

.privacy-container {
  a {
    color: $secondary-color;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 16px;

    li {
      margin-bottom: 8px;
      line-height: 1.5;
    }
  }
}

.headline {
  @include dFlex($justify: unset, $gap: 32px);
  width: 100%;
  margin-bottom: 60px;

  // span:first-of-type {
  //   @include vertical-line($bgcolor: $secondary-color);
  // }

  span:last-of-type {
    @include vertical-line($bgcolor: $secondary-color, $width: 100px);
  }
}

.shadow-element {
  @include shadow-element();
  bottom: -400px;
  left: -700px;
  filter: blur(46.5px);

  img {
    transform: rotate(209deg);
  }
}

.shadow-top {
  top: -70px;
  left: unset;
  right: -500px;

  img {
    transform: rotate(222deg);
  }
}

.nowrap {
  white-space: nowrap;
}

.break-word {
  word-break: break-word;
}


@media (max-width: 900px) {
  section {
    padding-left: 50px;
    padding-right: 50px;
  }
  .headline {
    gap: 24px;

    span:last-of-type {
      width: 50px;
    }
  }
}

@media (max-width: 650px) {
  .headline {
    span:last-of-type {
      display: none;
    }
}
}

@media (max-width: 550px) {
  section {
    padding-left: 25px;
    padding-right: 25px;
  }
  .headline {
    gap: 16px;
    margin-bottom: 28px;

    span:last-of-type {
      width: 25px;
    }
  }

  .privacy-container {
    h2 {
      font-size: 26px;
    }
  }
}

@media (max-width: 470px) {
section {
  padding-top: 75px;
}
}

@media (max-width: 370px) {
.headline {
  gap: 8px;
   h1 {
    font-size: 36px;
   }
}
}

@media (max-width: 340px) {
 .headline {
  span:last-of-type {
    display: none;
  }
 }
}
