<section>
    <main class="privacy-content">
        <div class="shadow-element shadow-top">
            <img src="/assets/img/shadowprivacytop.svg" alt="">
        </div>

        <div class="headline">
            <h1 class="nowrap">{{ 'privacy.title' | translate }}</h1>
            <span></span>
        </div>

        <div class="privacy-container">
            <h2 class="title-margin">{{ 'privacy.overview.title' | translate }}</h2>
            <h3 class="title-margin">{{ 'privacy.overview.general.title' | translate }}</h3>
            <p>{{ 'privacy.overview.general.description' | translate }}</p>

            <h3 class="title-margin">{{ 'privacy.overview.dataCollection.title' | translate }}</h3>
            <h4>{{ 'privacy.overview.dataCollection.responsible.title' | translate }}</h4>
            <p>{{ 'privacy.overview.dataCollection.responsible.description' | translate }}</p>

            <h4>{{ 'privacy.overview.dataCollection.howWeCollect.title' | translate }}</h4>
            <p>{{ 'privacy.overview.dataCollection.howWeCollect.description1' | translate }}</p>
            <p>{{ 'privacy.overview.dataCollection.howWeCollect.description2' | translate }}</p>

            <h4>{{ 'privacy.overview.dataCollection.purpose.title' | translate }}</h4>
            <p>{{ 'privacy.overview.dataCollection.purpose.description' | translate }}</p>

            <h4>{{ 'privacy.overview.dataCollection.rights.title' | translate }}</h4>
            <p>{{ 'privacy.overview.dataCollection.rights.description1' | translate }}</p>
            <p>{{ 'privacy.overview.dataCollection.rights.description2' | translate }}</p>

            <h2 class="title-margin mb-32">{{ 'privacy.hosting.title' | translate }}</h2>
            <p>{{ 'privacy.hosting.intro' | translate }}</p>

            <h3 class="title-margin">{{ 'privacy.hosting.allinkl.title' | translate }}</h3>
            <p>{{ 'privacy.hosting.allinkl.description' | translate }} <a class="break-word"
                    href="https://all-inkl.com/datenschutzinformationen/" target="_blank"
                    rel="noopener noreferrer">https://all-inkl.com/datenschutzinformationen/</a></p>

            <p>{{ 'privacy.hosting.allinkl.gdpr' | translate }}</p>

            <h4>{{ 'privacy.hosting.allinkl.dpa.title' | translate }}</h4>
            <p>{{ 'privacy.hosting.allinkl.dpa.description' | translate }}</p>

            <h2 class="title-margin break-word">{{ 'dataProtection.generalInfo.title' | translate }}</h2>
            <h3 class="title-margin">{{ 'dataProtection.generalInfo.dataProtection.title' | translate }}</h3>
            <p>{{ 'dataProtection.generalInfo.dataProtection.text1' | translate }}</p>
            <p>{{ 'dataProtection.generalInfo.dataProtection.text2' | translate }}</p>
            <p>{{ 'dataProtection.generalInfo.dataProtection.text3' | translate }}</p>

            <h3 class="title-margin">{{ 'dataProtection.generalInfo.responsible.title' | translate }}</h3>
            <p class="mb-16">{{ 'dataProtection.generalInfo.responsible.intro' | translate }}</p>
            <p>
                {{ 'dataProtection.generalInfo.responsible.name' | translate }}<br>
                {{ 'dataProtection.generalInfo.responsible.street' | translate }}<br>
                {{ 'dataProtection.generalInfo.responsible.city' | translate }}<br>
                {{ 'dataProtection.generalInfo.responsible.country' | translate }}<br><br>
                Email: <a href="mailto:office&#64;boris-scheiber.at">office&#64;boris-scheiber.at</a>
                <br><br>
            </p>
            <p>{{ 'dataProtection.generalInfo.responsible.explanation' | translate }}</p>

            <h3 class="title-margin">{{ 'dataProtection.generalInfo.storage.title' | translate }}</h3>
            <p>{{ 'dataProtection.generalInfo.storage.text' | translate }}</p>

            <h3 class="title-margin">{{ 'dataProtection.generalInfo.legalBasis.title' | translate }}</h3>
            <p>{{ 'dataProtection.generalInfo.legalBasis.text' | translate }}</p>

            <h3 class="title-margin">{{ 'dataProtection.generalInfo.recipients.title' | translate }}</h3>
            <p>{{ 'dataProtection.generalInfo.recipients.text' | translate }}</p>

            <h3 class="title-margin">{{ 'dataProtection.generalInfo.revocation.title' | translate }}</h3>
            <p>{{ 'dataProtection.generalInfo.revocation.text' | translate }}</p>

            <h3 class="title-margin">{{ 'dataProtection.generalInfo.objection.title' | translate }}</h3>
            <p>{{ 'dataProtection.generalInfo.objection.text1' | translate }}</p>

            <p>{{ 'dataProtection.generalInfo.objection.text2' | translate }}</p>

            <h3 class="title-margin">{{ 'dataProtection.generalInfo.complaint.title' | translate }}</h3>
            <p>{{ 'dataProtection.generalInfo.complaint.text' | translate }}</p>

            <h3 class="title-margin">{{ 'dataProtection.generalInfo.portability.title' | translate }}</h3>
            <p>{{ 'dataProtection.generalInfo.portability.text' | translate }}</p>

            <h3 class="title-margin">{{ 'dataProtection.generalInfo.info.title' | translate }}</h3>
            <p>{{ 'dataProtection.generalInfo.info.text' | translate }}</p>

            <h3 class="title-margin">{{ 'dataProtection.generalInfo.restriction.title' | translate }}</h3>
            <p>{{ 'dataProtection.generalInfo.restriction.text' | translate }}</p>

            <ul>
                @for (case of restriction.cases; track $index) {
                <li>{{ case | translate }}</li>
                }
            </ul>

            <p>{{ 'dataProtection.generalInfo.restriction.additional' | translate }}</p>

            <h3 class="title-margin">{{ 'dataProtection.generalInfo.ssl.title' | translate }}</h3>
            <p>{{ 'dataProtection.generalInfo.ssl.text1' | translate }}</p>
            <p>{{ 'dataProtection.generalInfo.ssl.text2' | translate }}</p>

            <h2 class="title-margin">{{ 'privacySection.dataCollection.title' | translate }}</h2>
            <h3 class="title-margin">{{ 'privacySection.dataCollection.contactForm.title' | translate }}</h3>
            <p>{{ 'privacySection.dataCollection.contactForm.text1' | translate }}</p>
            <p>{{ 'privacySection.dataCollection.contactForm.text2' | translate }}</p>
            <p>{{ 'privacySection.dataCollection.contactForm.text3' | translate }}</p>

            <h3 class="title-margin">{{ 'privacySection.dataCollection.otherInquiries.title' | translate }}</h3>
            <p>{{ 'privacySection.dataCollection.otherInquiries.text1' | translate }}</p>
            <p>{{ 'privacySection.dataCollection.otherInquiries.text2' | translate }}</p>
            <p>{{ 'privacySection.dataCollection.otherInquiries.text3' | translate }}</p>

            <h2 class="title-margin">{{ 'privacySection.plugins.title' | translate }}</h2>
            <h3 class="title-margin">{{ 'privacySection.plugins.googleFonts.title' | translate }}</h3>
            <p>{{ 'privacySection.plugins.googleFonts.text1' | translate }}</p>

            <p>{{ 'privacySection.plugins.googleFonts.text2' | translate }} <a class="break-word"
                    href="https://developers.google.com/fonts/faq" target="_blank"
                    rel="noopener noreferrer">https://developers.google.com/fonts/faq</a> {{
                'privacySection.plugins.googleFonts.text3' | translate }} <a class="break-word"
                    href="https://policies.google.com/privacy" target="_blank"
                    rel="noopener noreferrer">https://policies.google.com/privacy</a>.</p>

            <p>{{ 'privacySection.plugins.googleFonts.source' | translate }} <a class="break-word"
                    href="https://www.e-recht24.de" target="_blank"
                    rel="noopener noreferrer">https://www.e-recht24.de</a></p>

        </div>

        <div class="shadow-element">
            <img src="/assets/img/shadowprivacy.svg" alt="">
        </div>
    </main>
</section>