@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";


.title-margin {
    margin-bottom: 8px;
    margin-top: 32px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-32 {
    margin-bottom: 32px;
}

section {
    margin-top: 110px;
    @include section-container();
}

.imprint-content {
    @include content-container($justify: unset, $position: relative);
    flex-direction: column;
}

.imprint-container {

    a {
        color: $secondary-color;

        &:hover {
            text-decoration: underline;
        }
    }
}

.headline {
    @include dFlex($justify: unset, $gap: 32px);
    width: 100%;
    margin-bottom: 40px;
  
    span:first-of-type {
      @include vertical-line($bgcolor: $secondary-color);
    }
  
    span:last-of-type {
      @include vertical-line($bgcolor: $secondary-color, $width: 300px);
    }
  }