<section>

    <main class="imprint-content">

        <div class="shadow-element shadow-top">
            <img src="/assets/img/shadowlegal.svg" alt="">
        </div>


        <div class="headline">
            <h1>{{ 'imprint.title' | translate }}</h1>
            <span></span>
        </div>
        <div class="imprint-container">


            <h2 class="mb-16">{{ 'imprint.legal.title' | translate }}</h2>
            <p class="mb-16">
                {{ 'imprint.legal.address.name' | translate }}<br>
                {{ 'imprint.legal.address.street' | translate }}<br>
                {{ 'imprint.legal.address.city' | translate }}<br>
                {{ 'imprint.legal.address.country' | translate }}
            </p>


            <h3>{{ 'imprint.contactInfo.title' | translate }}</h3>
            <p class="mb-32">{{ 'imprint.contactInfo.email' | translate }}: <a
                    href="mailto:hey@boris-scheiber.at">hey&#64;boris-scheiber.at</a></p>

            <h3 class="title-margin">{{ 'imprint.disputeResolution.title' | translate }}</h3>
            <p>{{ 'imprint.disputeResolution.description' | translate }}
                <a class="word-break"
                    href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE"
                    target="_blank"
                    rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE</a>
            </p>

            <p>{{ 'imprint.disputeResolution.disclaimer' | translate }}</p>

            <h3 class="title-margin">{{ 'imprint.contentLiability.title' | translate }}</h3>
            <p>{{ 'imprint.contentLiability.description' | translate }}</p>

            <h3 class="title-margin">{{ 'imprint.linkLiability.title' | translate }}</h3>
            <p>{{ 'imprint.linkLiability.description' | translate }}</p>

            <h3 class="title-margin">{{ 'imprint.copyright.title' | translate }}</h3>
            <p>{{ 'imprint.copyright.description' | translate }}</p>

            <h3 class="title-margin">{{ 'imprint.privacyShort.title' | translate }}</h3>
            <p>
                {{ 'imprint.privacyShort.text' | translate }}
                <a routerLink="/privacy-policy">{{ 'imprint.privacyShort.link' | translate }}</a>.
            </p>
        </div>

        <div class="shadow-element">
            <img src="/assets/img/shadowfooter.svg" alt="">
        </div>

    </main>




</section>