<section>

    <main class="imprint-content">

        <div class="shadow-element shadow-top">
            <img src="/assets/img/shadowlegal.svg" alt="">
        </div>


        <div class="headline">
            <span></span>
        <h1>Imprint</h1>
        <span></span>
        </div>
        <div class="imprint-container">
          

            <h2 class="mb-16">According to § 25 Media Act and § 5 E-Commerce Act:</h2>
            <p class="mb-16">
                Boris Scheiber <br>
                Hausanger 24 <br>
                6464 Tarrenz <br>
                Austria
            </p>
            

            <h3>Contact:</h3>
            <p class="mb-32">Email: <a href="mailto:scheiberboris@hotmail.com">scheiberboris&#64;hotmail.com</a></p>
            
            <h3 class="title-margin">EU Dispute Resolution</h3>
            <p>In accordance with the regulation on online dispute resolution in consumer affairs (ODR Regulation), we
                would like to inform you about the online dispute resolution platform (OS platform).
                <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE"
                    target="_blank"
                    rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE</a>
            </p>

            <p>However, we would like to inform you that we are neither willing nor obliged to participate in dispute
                resolution proceedings before a consumer arbitration board.</p>

            <h3 class="title-margin">Liability for Content</h3>
            <p>The contents of our pages were created with the greatest care. However, we cannot guarantee the accuracy,
                completeness and topicality of the contents. As a service provider we are responsible according to § 13
                ECG (Austrian E-Commerce Act) for own contents on these pages according to the general laws. According
                to §§ 13 to 17 ECG, however, we are not obliged as a service provider to monitor transmitted or stored
                information or to investigate circumstances that indicate illegal activity. Obligations to remove or
                block the use of information in accordance with general laws remain unaffected by this. However,
                liability in this respect is only possible from the time of knowledge of a specific infringement. As
                soon as we become aware of such infringements, we will remove this content immediately.</p>

            <h3 class="title-margin">Liability for Links</h3>
            <p>Our website contains links to external third-party websites over whose content we have no influence.
                Therefore, we cannot assume any liability for these external contents. The respective provider or
                operator of the linked pages is always responsible for their content. The linked pages were checked for
                possible legal violations at the time of linking. Illegal content was not apparent at the time of
                linking. However, permanent monitoring of the content of the linked pages is not reasonable without
                concrete evidence of a violation of law. If we become aware of any legal infringements, we will remove
                such links immediately.</p>

            <h3 class="title-margin">Copyright</h3>
            <p>The content and works created by the site operators on these pages are subject to Austrian copyright law.
                The duplication, processing, distribution and any kind of utilization outside the limits of copyright
                law require the written consent of the respective author or creator. Downloads and copies of this site
                are only permitted for private, non-commercial use. Insofar as the content on this site was not created
                by the operator, the copyrights of third parties are respected. In particular, third-party content is
                identified as such. Should you nevertheless become aware of a copyright infringement, please notify us
                accordingly. If we become aware of any legal infringements, we will remove such content immediately.</p>

            <h3 class="title-margin">Privacy</h3>
            <p>The use of our website is generally possible without providing personal data. If personal data (e.g.
                name, address or e-mail addresses) is collected on our website, this is always done on a voluntary basis
                as far as possible and in accordance with the GDPR (General Data Protection Regulation). This data will
                not be passed on to third parties without your express consent. We would like to point out that data
                transmission over the Internet (e.g. when communicating by e-mail) may be subject to security
                vulnerabilities. Complete protection of data against access by third parties is not possible. The use of
                contact data published within the framework of the legal notice obligations by third parties for sending
                unsolicited advertising and information material is hereby expressly prohibited. The operators of the
                website expressly reserve the right to take legal action in the event of the unsolicited sending of
                advertising information, such as spam emails.</p>
        </div>

        <div class="shadow-element">
            <img src="/assets/img/shadowfooter.svg" alt="">
        </div>

    </main>




</section>