@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

h3 {
  font-weight: $font-bold;
}

.title-margin {
  margin-top: 32px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

section {
  margin-top: 110px;
  @include section-container();
  overflow: hidden;
  padding-left: 100px;
  padding-right: 100px;
}

.imprint-content {
  @include content-container($justify: unset, $position: relative);
  flex-direction: column;
}

.imprint-container {
  a {
    color: $secondary-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

.headline {
  @include dFlex($justify: unset, $gap: 32px);
  width: 100%;
  margin-bottom: 60px;

  // span:first-of-type {
  //   @include vertical-line($bgcolor: $secondary-color);
  // }

  span:last-of-type {
    @include vertical-line($bgcolor: $secondary-color, $width: 100px);
  }
}

.shadow-element {
  @include shadow-element();
  bottom: -400px;
  left: -800px;
  filter: blur(46.5px);
}

.shadow-top {
  top: -70px;
  left: unset;
  right: -500px;
}

.word-break {
  word-break: break-word;
}

@media (max-width: 900px) {
  section {
    padding-left: 50px;
    padding-right: 50px;
  }
  .headline {
    gap: 24px;

    span:last-of-type {
      width: 50px;
    }
  }
}

@media (max-width: 550px) {
  section {
    padding-left: 25px;
    padding-right: 25px;
  }
  .headline {
    gap: 16px;

    span:last-of-type {
      width: 25px;
    }
  }

  .imprint-container {
    h2 {
      font-size: 26px;
    }
  }
}

@media (max-width: 470px) {
section {
  padding-top: 75px;
}
}

@media (max-width: 370px) {
.headline {
  gap: 8px;
}
}