<section>

    <main class="my-skills-content">

        <div class="my-skills-list">
            @for (skill of skills; track skill.name) {
            <div>
                <span>{{ skill.name }}</span>
                <img [src]="skill.icon" [alt]="skill.name">
            </div>
            }
        </div>

        <div class="my-skills-text">

            <div class="headline">
                <h1>My skills</h1>
                <span></span>
            </div>

            <div class="info">
                <p>I have gained experience in building projects with different frontend technologies and concepts.</p>
                <span class="highlight-text">Looking for <span class="skill-text">another skill</span>?</span>
                <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
                <a href="#">Get in touch</a>
            </div>


        </div>



        <div class="shadow-element">
            <img src="/assets/img/shadowmyskills.svg" alt="">
        </div>




    </main>



</section>