@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

section {
  @include section-container();
}

.my-skills-content {
  @include content-container($position: relative);
}

.my-skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 54px;
  max-width: 650px;
  margin-top: 22px;

  div {
    @include dFlex();
    width: 120px;
    // background-color: lightcoral;
    flex-direction: column-reverse;

    img {
      transform-origin: center;

      &:hover {
        animation: wiggle 0.5s infinite ease-in-out;
      }
    }

    span {
      text-align: center;
      cursor: default;
      padding-top: 10px;

      &:hover + img {
        animation: wiggle 0.5s infinite ease-in-out;
      }
    }

    &:last-of-type span {
      color: $secondary-color;
    }
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.my-skills-text {
  display: flex;
  gap: 32px;
  flex-direction: column;
  max-width: 571px;
}

.headline {
  @include dFlex($justify: flex-end, $gap: 32px);

  span {
    @include vertical-line($width: 100px, $bgcolor: $primary-color);
  }
}

.info {
  @include dFlex($align: flex-end, $gap: 16px);
  flex-direction: column;
  text-align: right;
  margin-right: 132px;

  a {
    @include primary-button;
    max-width: fit-content;
    margin-top: 24px;
  }

  p:first-of-type {
    margin-bottom: 8px;
  }

  .highlight-text {
    font-size: 32px;
    line-height: 38.4px;
    font-weight: $font-bold;

    .skill-text {
      color: $secondary-color;
    }
  }
}

.shadow-element {
  @include shadow-element();
  left: -600px;
  bottom: -700px;
}

.info-mobile {
  display: none;
}

.link-mobile {
  display: none;
  margin-top: 24px;
  a {
    @include primary-button;
    max-width: fit-content;
  }
}

@media (max-width: 1600px) {
  section {
    padding-left: 100px;
  }
}

@media (max-width: 1350px) {
  .my-skills-list {
    max-width: 500px;
  }
}

@media (max-width: 1200px) {
  .my-skills-list {
    gap: 40px;
  }
}

@media (max-width: 1150px) {
  .my-skills-content {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .info {
    a {
      display: none;
    }

    p:last-of-type {
      display: none;
    }
  }

  .highlight-text {
    display: none;
  }

  .my-skills-list {
    max-width: unset;
    gap: 54px;
  }
  .my-skills-list {
    justify-content: center;
    margin-right: 100px;
    margin-top: 60px;
  }
  .my-skills-text {
    max-width: unset;
  }

  .info-mobile {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 0;
    padding-right: 100px;

    a {
      display: block;
      margin-top: 80px;
    }

    // p:last-of-type {
    //   display: block;
    // }
    // .highlight-text {
    //   display: block;
    // }
  }

  // .link-mobile {
  //   display: inline-flex;
  // }

  .shadow-element {
    bottom: -500px;
  }
}

@media (max-width: 900px) {
 section {
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .headline {
    gap: 24px;
    span {
      width: 50px;
    }
  }

  .info {
    margin-right: 74px;
  }

  .my-skills-list {
    margin-right: 50px;
  }
  .info-mobile {
    margin-right: 0;
    padding-right: 50px;
  }
  .my-skills-list {
    gap: 44px;
  }
}
