<section id="skills">
    <main class="my-skills-content">

        <div data-aos="fade-up" class="info info-mobile">
            <span class="highlight-text">{{ 'skills.lookingFor' | translate }} <span class="skill-text">{{
                    'skills.anotherSkill' | translate }}</span>?</span>
            <p>{{ 'skills.contact' | translate }}</p>
            <a href="#contact">{{ 'skills.getInTouch' | translate }}</a>
        </div>


        <div class="my-skills-list">
            @for (skill of skills; track skill.name; let i = $index) {
            <div data-aos="fade-up">
                <span>{{ skill.name === 'Continually learning' ?
                    ('skills.continuallyLearning' | translate) : skill.name }}</span>
                <img [src]="skill.icon" [alt]="skill.name">
            </div>
            }
        </div>

        <div class="my-skills-text">

            <div data-aos="fade-left" class="headline">
                <h1>{{ 'skills.title' | translate }}</h1>
                <span></span>
            </div>

            <div data-aos="fade-left" class="info">
                <p>{{ 'skills.description' | translate }}</p>
                <span class="highlight-text">{{ 'skills.lookingFor' | translate }} <span class="skill-text">{{
                        'skills.anotherSkill' | translate }}</span>?</span>
                <p>{{ 'skills.contact' | translate }}</p>
                <a href="#contact">{{ 'skills.getInTouch' | translate }}</a>
            </div>


        </div>

        <div class="shadow-element">
            <img src="/assets/img/shadowmyskills.svg" alt="">
        </div>

    </main>

</section>