@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixins.scss";

.social-links {
  display: flex;

  img {
    @include dFlex();
    transition: $transiton-base;

    &:hover {
      transform: scale(1.3);
    }
  }
}
