@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

section {
  @include section-container();
  padding-bottom: 0;
}

.portfolio-content {
  @include content-container($justify: unset, $position: relative);
  flex-direction: column;
  align-items: center;
}

.headline {
  @include dFlex($justify: flex-end, $gap: 32px);
  width: 100%;
  margin-bottom: 40px;

  div {
  span:first-of-type {
    @include vertical-line($bgcolor: $secondary-color);
  }
}

  span:last-of-type {
    @include vertical-line($bgcolor: $secondary-color, $width: 507px);
  }
}

.projects-container {
  width: 100%;
  margin-top: 32px;
}

.single-project {
  display: flex;
  align-items: center;
  gap: 40px;
}

.project-imagebox {
  height: 450px;

  img {
    height: 100%;
  }
}

.project-info-container {
  max-width: 513px;
}

.project-descritpion {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-links {
  margin-top: 35px;
  display: flex;
  gap: 86px;

  a:first-of-type {
    @include secondary-button();
  }

  a:last-of-type {
    @include secondary-button(
      $bg-color: none,
      $hover-bg: $primary-color,
      $border: 2px solid $primary-color
    );
  }
}

.row-reverse {
  flex-direction: row-reverse;
}

.shadow-element {
  @include shadow-element();
  transform: rotate(180deg);
  right: -400px;
  top: 600px;
  filter: blur(46.5px);
}


@media (max-width: 1600px) {
  .headline {
    div {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    .second-seperator {
      max-width: 507px;
      width: 100% !important;
    }
  }
}


@media (max-width: 1550px) {
  .projects-container {
    padding: 0 100px 0 100px;
  }
}

@media (max-width: 1150px) {
  .single-project {
    flex-direction: column;
    gap: unset;
    margin-bottom: 50px;
  }
  .project-descritpion {
    align-items: center;
    text-align: center;
    margin-top: -50px;
  }
  .project-links {
    justify-content: center;
    // gap: 50px;
  }
  .shadow-element {
    right: -200px;
  }
}

@media (max-width: 900px) {

  .subtitle {
    padding: 0 50px 0 50px;
    text-align: center;
  }

  .projects-container {
    padding: 0 50px 0 50px;
  }
}

@media (max-width: 800px) {
  .project-imagebox {
    height: 400px;
  }
}
